/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: 'AleoBold';
  src: url('../font/aleo-bold-webfont.woff2') format('woff2'),
       url('../font/aleo-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'AleoLigth';
  src: url('../font/aleo-light-webfont.woff2') format('woff2'),
       url('../font/aleo-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'AleoRegular';
  src: url('../font/aleo-regular-webfont.woff2') format('woff2'),
       url('../font/aleo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* ******************************** */

/* Colores */
:root {
  
  --colo-estado-bueno: #b26014;
  --color-blanco: #ffffff;
  --color-botones-info-ingresar: #000000e3;
  --color-cuadro-login-registro: #fffcfc78;
  --color-estado-muyseguro: #12c10f;
  --color-estado-seguro: #1b741f;
  --color-text-negro-: #000000;
  --color-texto-pagina: #faff03;
  --cuadro-contraseñas: #000000a6;
  --cuadro-loginy-registro: #00000085;
  
}
/* ******************************** */
body{
  
  background-image: url(../img/desktop/imagenFondo1.webp);
  background-position: center center;
  background-size: cover; /* Esto ajusta el tamaño de la imagen para cubrir todo el cuerpo */
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

#container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 1250px;
  width: 100%;
  height: 100vh;
}
/* HEADER */
header{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  & nav {
    
    width: 100%;
    font-family: "AleoBold";
    display: flex;
    align-items: center;
    gap: 20px;
    
    & h2 {
     
      color: var(--color-texto-pagina);
      margin-left: 10px;
      
    }
    & a {
      text-decoration: none;
      color:var(--color-blanco);
      font-family: "AleoBold";
      font-size: 12px;
      padding: 15px 25px;
      
  
    }

    /* Logo */
    & .header__logo {
      display: flex; 
      align-items: center; 
    
      & .header__img-logo{
        width: 70px;
        
        animation: girarLogo  3s ease-in-out infinite; 
        /* Aplica la animación llamada "girar" durante 2 segundos con efecto ease-in-out e infinitamente repetida */
      }
    }
    

    & .header__boton-ingresar,.header__boton-info{
      padding: 15px 40px;
      border-radius: 8px;
      background: var(--color-botones-info-ingresar);
      color: var(--color-texto-pagina);
      margin-left: auto;
      margin-right: 30px;
      font-size: 16px;
    }

    & .header__boton-info {
      margin-left: 5px; /* Espacio entre botones */
    }
  }
}

/* Animacion  del Logo*/
@keyframes girarLogo {
  0%, 100% {
      transform: rotateY(0deg); /* La rotación inicial y final es 0 grados (cara) */
  }
  50% {
      transform: rotateY(180deg); /* Gira 180 grados (sello) */
  }
}
/* Section Básico */

.tituloPagina {
  color: var(--color-texto-pagina);
  font-family: "AleoBold";
  display: flex;
  align-items: center;
  justify-content: center;  
  max-width: 100%; /* Establece el ancho máximo del contenedor */
  margin-left: auto;
  margin-right: auto;

}

/* Generador */
.generador_contraseñaBasico {
  text-align: center;
  margin: auto;

}

/* #passwordDisplay { 
  margin: 20px;
  padding: 10px;
  font-family: "AleoRegular";
  font-size: 20px;
  background-color: var(--cuadro-contraseñas);
  border: none;
  border-radius: 8px;
  color: var(--color-texto-pagina);
  transform: translateX(
    -7%
  )           // Mueve el texto ligeramente hacia la izquierda 
  
  width: 42%; // O ajusta el ancho según tus necesidades 
  box-sizing: border-box; // Incluye el padding en el ancho total 
  height: 75px; // Ajusta la altura del campo de contraseña según tus necesidades 
  
  
  text-align: left;
  } */

  #passwordDisplay{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "AleoRegular";
  font-size: 20px;
  background: var(--cuadro-contraseñas);
  width: 89%;
  height: 65px;
  padding: 12px;
  margin: 40px;
  border-radius: 8px;
  color: var(--color-texto-pagina);
  }

.refrescar {
  cursor: pointer;
  border: none;
  background: none;
  margin-left: auto;
  
}


.textBasico{
  font-size: 14px;
  padding: 3%;
  color: var(--color-texto-pagina);
  font-family: "AleoLigth";
}

.btn_copiar{
      border: none;
      padding: 15px 40px;
      border-radius: 8px;
      background: var(--color-botones-info-ingresar);
      color: var(--color-texto-pagina);
      font-family: 'AleoRegular';
      
}

/* Footer Index HTML*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.text_footer{
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: 'AleoRegular';
  color: var(--color-texto-pagina);
  margin-top: 50px;
  padding: 20px;
}

/* ==================================================================================== */

/* LOGIN HTML  */
.login_usuario{
  display: flex;
  justify-content: center;
  align-items: center;
  
  transform: translateX(
    -13%
  ); /* Mueve el texto ligeramente hacia la izquierda */
}
form{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  width: 320px;
  height: 350px;
  padding: 16px;
  
  border-radius: 10px;
  border-radius: 20px;
  background-color: var(--cuadro-loginy-registro);
    
}
/* Formulario */
#nomUser::placeholder,
#pass::placeholder {
  color: var(--color-text-negro-);
}

#nomUser{
      padding-left: 30px; /* Espacio para el icono a la izquierda */
      background-image: url('../svg/icoUsuarioL.svg'); 
      background-repeat: no-repeat;
      background-position: 5px 50%; 
      background-size: 18px 18px; 
}

#pass{
  padding-left: 30px; /* Espacio para el icono a la izquierda */
  background-image: url('../svg/icoUsuarioContra.svg'); /* Ruta a tu archivo SVG */
  background-repeat: no-repeat;
  background-position: 5px 50%; /* Ajusta según sea necesario */
  background-size: 18px 18px; /* Ajusta el tamaño del icono según sea necesario */
}
form input[type="password"],form input[type="text"]{
	width: 180px;
  border: 0;
  height: 35px;
  border-radius: 8px;
  background-color: var(--color-cuadro-login-registro);
  margin-top: 15px;
}

form input[type="submit"]{
  width: 100px;
  border: 0;
  color: var(--color-text-negro-);
  font-family: "AleoBold";
  background-color: var(--color-texto-pagina);
  border-radius: 8px;
  height: 28px;
  margin-top: 15px;
}

.text_Login{
  font-family: "AleoLigth";
  color: var(--color-texto-pagina);
  text-decoration: none;
}
/* Footer Login HTML*/

.img_login {
  
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px; /* Ajusta el margen según sea necesario */
  width: 300px; /* Ajusta el tamaño según tus necesidades */
  height: 300px; /* Ajusta el tamaño según tus necesidades */
  
}

