/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: 'AleoBold';
  src: url('../font/aleo-bold-webfont.woff2') format('woff2'),
       url('../font/aleo-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'AleoLigth';
  src: url('../font/aleo-light-webfont.woff2') format('woff2'),
       url('../font/aleo-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'AleoRegular';
  src: url('../font/aleo-regular-webfont.woff2') format('woff2'),
       url('../font/aleo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* ******************************** */

/* Colores */
:root {
  
  --colo-estado-bueno: #b26014;
  --color-blanco: #ffffff;
  --color-botones-info-ingresar: #000000e3;
  --color-cuadro-login-registro: #fffcfc78;
  --color-estado-muyseguro: #12c10f;
  --color-estado-seguro: #1b741f;
  --color-text-negro-: #000000;
  --color-texto-pagina: #faff03;
  --cuadro-contraseñas: #000000a6;
  
}
/* ******************************** */
body{
  
  background-image: url(../img/desktop/imagenFondo1.webp);
  background-position: center center;
  background-size: cover; /* Esto ajusta el tamaño de la imagen para cubrir todo el cuerpo */
  background-repeat: no-repeat;
  background-attachment: fixed;
 
}
/* HEADER */
header{
  
  display: flex;
  justify-content: space-between; 
  align-items: center;

  
  & nav {
    
    width: 100%;
    font-family: "AleoBold";
    display: flex;
    align-items: center;
    gap: 20px;
    
    & h2 {
     
      color: var(--color-texto-pagina);
      margin-left: 10px;
      
    }
    & a {
      text-decoration: none;
      color:var(--color-blanco);
      font-family: "AleoBold";
      font-size: 12px;
      padding: 15px 25px;
      
  
    }

    /* Logo */
    & .header__logo {
      display: flex; 
      align-items: center; 
    
      & .header__img-logo{
        width: 70px;
      }
    }
    & .header__boton-ingresar,.header__boton-info{
      padding: 15px 40px;
      border-radius: 8px;
      background: var(--color-botones-info-ingresar);
      color: var(--color-texto-pagina);
      margin-left: auto;
      margin-right: 30px;
    }

    & .header__boton-info {
      margin-left: 5px; /* Espacio entre botones */
    }
  }
}

